body {
    background-color: #131333;
    color: #CCC;
    width: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}
div {
    width: 50%;
    min-width: 400px;
    text-align: center;
}
h1 {
    padding: 5pt;
    margin-bottom: 0px;
}
p {
    padding: 5pt;
    margin-top: 0px;
}
